@charset "utf-8";
/* CSS Document */


body {
	text-align: center;
	margin: 0 auto;
	background-color: #008000;
	color: white;
}

.box {
	width: 700px;
	margin: 0 auto;
	flex-wrap: wrap;
	align-content:center;
}

.box img {
	width: 100px;
	height: 100px;
}

